<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <style>[v-cloak] {display: none;}</style>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
    <script src="js/script.js" defer></script>
</head>
<body>
    <div class="box" v-cloak>
        <div class="left">
            <div class="userApp">
                <div class="myavatar">
                    <img :src="user" alt=""> 
                    <h1>Sofia</h1>
                </div>
                <div class="icons">
                    <i class="fa-solid fa-circle-notch circle"></i>
                    <i class="fa-solid fa-message message"></i>
                    <i class="fa-solid fa-ellipsis-vertical dots"></i>
                </div>
            </div>
            <div class="instaNotification">
                <i class="fa-solid fa-bell-slash bell"></i>
                <div class="notify-msg">
                    <p> {{notify}} </p>
                    <a href="#"> {{activedNotification}} </a>
                </div>
            </div>

            <div class="inpuntSearch">
                <label for="searchChat"><i class="fa-solid fa-magnifying-glass"></i></label>
                <input type="text" name=""  placeholder="Cerca Chat" id="searchChat">
            </div>

            <div class="friendsChat" 
            v-for="(contact, i) in contacts" 
            @click="setActiveIndex(i)"> 
                <img :src="contact.avatar" alt="">
                <div class="chatName">{{contact.name}}
                </div>
                <div class="chatMsg"></div>
            </div>
        </div>
        
        <div class="right">
            <div class="top">
                <div class="chat">
                    <img 
                    :src="contacts[activeIndex].avatar">
                    <h1> {{contacts[activeIndex].name}} </h1>
                </div> 
                <div class="settings">
                    <i class="fa-solid fa-magnifying-glass glass"></i>
                    <i class="fa-solid fa-paperclip clip"></i>
                    <i class="fa-solid fa-ellipsis-vertical dot"></i>
                </div>
            </div>
            <div class="middle">
                <div 
                v-for="contactMessage in contacts[activeIndex].messages"
                class="message"
                :class="contactMessage.status == 'sent' ? 'sent' : 'received'">
                <div class="text">
                    {{contactMessage.message}}
                </div>
                </div>
            </div>
            <div class="bottom">
                <div class="emoji">
                    <i class="fa-sharp fa-regular fa-face-smile smileFace"></i>
                </div>
                <div class="text-message">
                    <input type="text" 
                    v-model="text"
                    @keyup.enter="sendMessage()"
                    placeholder=" scrivi un messaggio" id="text">
                </div>
                <div class="voice-message">
                    <i class="fa-solid fa-microphone"></i>
                </div>
            </div>
        </div>
    </div>
</body>
</html>